body {
    font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Akira';
  src: url("/static/fonts/akira.otf") format("opentype");
}

.navbar {
    padding: 20px 0;
    background-color: #ffffff;
}

.navbar-brand {
    font-weight: 800;
    font-size: 1.8rem;
    color: #8e2bdc;
    position: relative;
}

.navbar-brand span {
    color: #010101;
}

.navbar-nav {
    margin-left: auto;
    align-items: center;
}

.nav-link {
    font-weight: 600;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px !important;
    transition: all 0.3s ease;
    font-family: 'akira', sans-serif;
    text-shadow: 0 0 5px #000000;
    letter-spacing: -1px;
}

.nav-link:hover,
.nav-link.active {
    color: #8e2bdc !important;
    text-shadow: 0 0 5px #ffffff !important;
}

.dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.dropdown-item {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 25px;
    color: #212529;
    transition: all 0.3s ease;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #f8f9fa;
    color: #8e2bdc;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 8px;
    color: white;
    transition: all 0.3s ease;
    text-decoration: none;
}

.instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.twitch {
    background-color: #6441a5;
}

.whatsapp {
    background-color: #25d366;
}

.social-icon:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.social-icon svg {
    width: 18px;
    height: 18px;
    fill: white;
}

.navbar-toggler {
    border: none;
    padding: 0;
    font-size: 1.5rem;
    color: #212529;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media (max-width: 991px) {
    .navbar-collapse {
        background-color: white;
        padding: 20px;
        margin-top: 15px;
    }

    .social-icons {
        margin-top: 15px;
        margin-left: 0;
        justify-content: center;
    }

    .navbar-nav .nav-item {
        text-align: center;
    }
}

/* Estilos para las tarjetas de productos y secciones */
.product-card {
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    margin-bottom: 3rem;
    background: white;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.section-container {
    display: none;
}

.section-container.active {
    display: block;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.sub-section-title {
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    font-size: 1.25rem;
    text-transform: uppercase;
}

    .separator {
      display: flex;
      align-items: center;
      margin: 20px 0; /* Espaciado vertical, ajusta según necesidad */
    }

    .separator-line {
        flex: 1;
    height: 1px;
    background-color: #cccccc4a;
    }

    .separator img {
      margin: 0 10px; /* Espacio entre la imagen y las líneas */
      /* Puedes ajustar el tamaño de la imagen si es necesario */
      max-width: 100%;
      height: auto;
    }

.btn-outline-dark:hover {
    background-color: #8e2bdc;
    border-color: #8e2bdc;
    color: white;
}

img.responsive-image {
  height: 125px;
}

/* Estilos para pantallas pequeñas (móvil) */
@media (max-width: 768px) {
  img.responsive-image {
   height: 50px;
  }
}


img.responsive-image2 {
  height: 150px;
}

/* Estilos para pantallas pequeñas (móvil) */
@media (max-width: 768px) {
  img.responsive-image2 {
   height: 65px;
  }
}

img.responsive-image3 {
  height: 100px;
}

/* Estilos para pantallas pequeñas (móvil) */
@media (max-width: 768px) {
  img.responsive-image3 {
   height: 60px;
  }
}


.platform-info {
    border-bottom: 2px solid #8e2bdc;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 0.9rem;
    color: #8e2bdc;
}
.platform-info .descuento {
    margin-left: 10px;
    font-weight: bold;
}


.btn-container {
    text-align: center;
    margin-top: 10px;
}


  /* Posición relativa para el navbar contenedor */
  .navbar {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background: none; /* Quitamos el fondo del navbar principal */
  }

  /* Pseudo-elemento para el fondo con efecto de difuminado */
  .navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Colocamos detrás del contenido */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 100%),
                url("https://yt3.googleusercontent.com/FX8ZlO_ShK87lp7K7C3B1ZCC2pnNFCh37321IjEL751sZLSN5ZpxeJBhcWSQrBeT6OwNCJzD=w2276-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj");
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  }

  /* Aseguramos que el contenido esté por encima del fondo */
  .navbar .container {
    position: relative;
    z-index: 1;
  }


